.apply-to-drive-left.complete-registration {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 35%;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("../../../assets/images/complete-registration.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* padding-top: 150px; */
    padding: 100px 30px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .step-1.complete-registration::after {
    content: '01 - Guarantor info';
  }
  
  .step-2.complete-registration::after {
    content: '02 - Car and payment info';
  }

  @media (max-width: 998px) {
    .apply-to-drive-left.complete-registration {
      display: none;
    }
  }