.apply-to-drive-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.login-left {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 35%;
  /* url("../../../assets/images/feature1.jpg") */
  background: linear-gradient(45deg, #181818, #181818) !important;
  background-size: cover;
  background-repeat: no-repeat;
  /* padding-top: 150px; */
  padding: 100px 30px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login-left::after {
  content: 'Driver';
  position: absolute;
  left: 0;
  width: 100%;
  top: 10%;
  z-index: -1;
  opacity: .2;
  font-size: 25rem;
  word-break: break-all;
}

.apply-header {
  font-size: 3.6rem;
}

.apply-description p {
  font-size: 1.2rem;
}

.apply-step {
  width: 55%;
  min-width: 55%;
  max-width: 55%;
}

.apply-to-drive-right {
  position: absolute;
  right: 0;
  padding: 230px 30px;
  height: 100%;
  width: 65%;
}

.apply-top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 4px;
  margin-bottom: 70px;
  margin-top: -80px;
}

.apply-steps {
  width: calc(100%/3.5);
  margin: 5px;
  padding: 2px;
  position: relative;
}

.step-1::after, .step-2::after {
  position: absolute;
  margin-top: 10px;
  font-size: .9rem;
}

.step-1::after {
  content: '01 - Personal info';
}

.step-2::after {
  content: '02 - Professional info';
}

.login-form-container {
  padding-left: 150px;
  padding-right: 150px;
}


@media (max-width: 998px) {
  .apply-to-drive-left {
    display: none;
  }

  .apply-to-drive-right {
    width: 100%;
  }

  .apply-step {
    max-width: 85%;
    min-width: 85%;
  }

  .apply-steps {
    width: calc(100% / 2);
  }

  .login-form-container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .apply-to-drive-right {
    overflow-x: hidden;
  }
  .apply-to-drive-right::after {
    content: 'Carpalar';
    color: #181818;
    opacity: .05;
    z-index: -1;
    font-size: 25rem;
    position: absolute;
    top: 0;
    left: 0;
  }
}

/* 

.login-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  min-width: 35%;
  min-height: 50%;
  background-color: aqua;
  display: flex;
  justify-content: space-between;
}

.login-card-left {
  width: 5%;
}

.login-card-right {
  width: 95%;
  padding: 30px;
} */