footer {
    font-size: .9rem !important;
}


/* FOOTER */
.footer {
    height: 250px;
    background-color: #181818;
    color: #fff;
    padding: 30px;
    position: relative;
    width: 100%;
}

/* .footer small {
    
    text-align: center;
} */

.footer-middle {
    font-size: .8rem;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: .5;
}

.region {
    text-align: right;
}

.region h6 {
    color: #cdcdcd;
}

.footer-bottom {
    padding: 10px 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0px;
    left: 0;
}

.footer-bottom ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0 !important;
}

.footer-bottom ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-bottom ul li:first-child {
    margin-right: 20px;
}

@media (max-width: 567px) {
    .footer-bottom {
        flex-direction: column;
    }
}