.hero.explore {
    height: 450px;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.55)),
      url("../../../assets/images/explore.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* padding-top: 150px; */
    padding: 100px 20px;
  }
  