.hero.about-us {
  height: 650px;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.55)),
    url("../../../assets/images/feature2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /* padding-top: 150px; */
  padding: 100px 20px;
}

.hero-content.about-us p {
  max-width: 70%;
  font-size: 1.1rem;
}


.hero-content.about-us h3 {
  max-width: 70%;
  /* font-size: 1.2rem; */
  font-weight: 600;
}


