/* FETURES */
.feature-group {
    padding: 10px 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 430px;
}

.feature-group .left, .right {
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.feature-group .title {
    color: #000;
    font-weight: 600;
    margin-bottom: 20px;
}

.feature-image {
    height: 60%;
    width: 60%;
    object-fit: contain;
    border-radius: 5px;
}

.feature-cta {
    width: 200px;
    padding: 15px 35px;
    border: none;
    border-radius: 20px;
    margin-top: 25px;
    font-weight: 600;
}